/*modificaciones propias*/
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/*common*/
.menuInicial {
  max-height: 61px;
  border-bottom: 3px solid blue;
  align-items: center;
  color: white;
  z-index: 15;
}

.caller {
  text-align: center;
  margin-left: 15px;
  color: white;
  font-size: 1.3rem;
  padding: 0.4rem;
  border: 2px solid #28a745;
  border-radius: 0.25rem;
}

.quote {
  position: relative;
  margin-top: auto;
  bottom: 0;
  margin-bottom: 0px;
  overflow-x: visible;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  background: rgba(0, 0, 0, 0.4);
  min-height: 30px;
  padding-left: 50px;
  color: gold;
  padding-right: 50px;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  width: 100%;
}

.quoteI {
  position: fixed;
  margin-top: auto;
  bottom: 0;
  margin-bottom: 0px;
  overflow-x: visible;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  background: rgba(0, 0, 0, 0.4);
  min-height: 30px;
  padding-left: 50px;
  color: gold;
  padding-right: 50px;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  width: 100%;
}

.bg-mod {
  background-color: rgba(93, 109, 126, 0.4);
}

.mb-mod {
  margin-bottom: 200px;
}

.clear {
  clear: both;
}

body {
  background: url("../media/ojonebula.jpg") repeat-y;
  background-size: cover;
  height: 100%;
}

/*index.html*/
div.GP1 {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img1 img {
  width: 100%;
}

div.img1 img:hover {
  transform: scale(1.1);
}

div.ufp {
  margin: auto;
  text-align: center;
}

.ufp p.moto1 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
  align-content: center;
}

.ufp p.moto3 {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

.ufp p.moto2 {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

.img2 img {
  width: 100%;
}

div.img2 img:hover {
  transform: scale(1.1);
}

div#contacto {
  margin: auto;
  margin-bottom: 10px;
}

label.contacto {
  color: white;
  text-decoration: underline;
  font-size: 20px;
}

div#GP2 {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

div.ask {
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

select.form-select {
  margin-bottom: 5px;
}

div.contacto {
  margin: auto;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

div.engage {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

div.clean {
  margin-top: 5px;
}

.input-group-text {
  box-shadow: 0 0 0 0.2rem rgba(27, 38, 49, 0.5) !important;
}

.form-control {
  box-shadow: 0 0 0 0.2rem rgba(27, 38, 49, 0.5) !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 215, 0, 0.5) !important;
}

.form-select {
  box-shadow: 0 0 0 0.2rem rgba(27, 38, 49, 0.5) !important;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
}

.btn-12 span {
  background: #00acee;
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  transform: rotateX(-90deg);
}

h5.cont {
  color: white;
}

/*lore.html*/
div.lore {
  color: white;
  text-align: center;
  font-style: italic;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

div img {
  margin: auto;
  width: auto;
}

.w-mod {
  width: 50%;
}

/*sagas*/
.crd {
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.crd .card {
  background-color: rgba(0, 0, 0, 0.4);
  height: cover;
  width: 25 rem;
  padding: 30px;
  overflow: visible;
  box-sizing: border-box;
}
.crd .card img.card-img-top {
  margin: auto;
  border-radius: 10px;
  width: cover;
}
.crd .card .card-text {
  padding-top: 10px;
  color: white;
}

.m-mod {
  margin-bottom: 150px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 35;
  color: red;
}

/*Strange new worlds*/
div.snw {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

div.flexbox {
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.flexbox .flexbox1 {
  box-sizing: border-box;
  margin-top: 20px;
}
div.flexbox .flexbox1 img {
  width: 100%;
  align-content: center;
  justify-content: center;
  border-radius: 15%;
}
div.flexbox .flexbox2 p {
  overflow: visible;
  margin: auto;
}

.mb-mod {
  margin-bottom: 150px;
}

/* Prodigy*/
.prod {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

/*data.html*/
div.soong {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
}

div.data {
  min-height: 150px;
  margin: auto;
  margin-top: 20px;
}

div.lal {
  margin-top: 20px;
  margin-bottom: 20px;
}

a.data {
  color: red;
}

div.geneData {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}/*# sourceMappingURL=estilo.css.map */